<template>
  <div id="app">

<router-link class="nav" v-bind:to="'/'">Home</router-link>

<router-link class="nav" v-bind:to="'/danhmucma'">Danh muc ma </router-link>

<router-link class="nav" v-bind:to="'/giaodich'">Giao dich </router-link>
<router-link class="nav" v-bind:to="'/lichsu'"> Lich su</router-link>
<router-link class="nav" v-bind:to="'/gdtotnhat'">GD tot nhat </router-link>
<router-link class="nav" v-bind:to="'/ruttien'"> Rut tien </router-link>
<router-link class="nav" v-bind:to="'/khuyenmai'"> Khuyen mai </router-link>
<router-link class="nav" v-bind:to="'/media'"> Media </router-link>
<router-link class="nav" v-bind:to="'/napthem'"> Nap them </router-link>
<router-link class="nav" v-bind:to="'/dautu'">Dau tu </router-link>


    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.nav {
margin: 2px;
background: pink;
padding: 2px;
border-radius: 5%;
}

.nav:hover {
background: red;
}
</style>
